.gradient-background {
    background: linear-gradient(300deg, rgb(180, 216, 224) , #2b7c97);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  }   



  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.rounded-corner {
    border-radius: 15px;
}

/*.work{
    
    background: linear-gradient(300deg, rgb(181, 193, 196), #57a7bf);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
}
    */

.ul_textsize{
    font-size: 20px;
}


.contribution_tbts{
    background-color:  rgb(193, 237, 247);
  }

.tbts_ul li::marker{
   content: "✔️";
}

.connectcolor{
  background-color:rgb(171, 219, 230);
}

.buttonshape{
  border-radius: 30px;
  
}

body{
  font-family: playfair;
  
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 350px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s ease; /* Slower transition */
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  backface-visibility: hidden;

}

.flip-card-front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  background-color:  #90c4cd;
  
}

.flip-card-back {
  background-color: #343a40;
  color: black;
  transform: rotateY(180deg);
  overflow-y: auto;
  padding: 20px;
  text-align: left;
  background-color:  #90c4cd;
}

.skill-bg{
  background-color:  #90c4cd;
}

.proj-bg{
  background-color:  #90c4cd;;
}



.overview{
  background-color: rgb(192, 216, 221);
}


.work{
  background: linear-gradient(300deg, rgb(233, 237, 239), #66c2d2);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  
}

.project-section{
  background: linear-gradient(300deg,  rgb(251, 252, 253), #add5dc);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  
}

